<h2>Create a New Album</h2>

<div> 
	<% if @album.errors.any? %>
		<div id="error_explanation">
  			<h2>Uh oh!  See below for errors!</h2>
  			<ul>
  				<% @album.errors.full_messages.each do |message| %>
    				<li><%= message %></li>
  				<% end %>
  			</ul>
		</div>
    <% end %>

	<%= form_for @album do |f| %>
		<%= f.text_field :title %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.submit "Create Album" %>
	<% end %>
</div>